<!DOCTYPE html>
<html>
    <head>
        <title>
            <title>OUPSCCBOT</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/result.css') }}" />
        </title>
    </head>
    <body>
        <div class="container">
            <h1>NO MEMES FOUND</h1>
            <div class="return">
                <form action="/search">
                    <button type="submit" value="/search">return</button>
                </form>
            </div>
        </div>
    </body>
</html>